---
layout: default
title: Home
---

  <nav>
    <div class="nav-container">
          <a class="logo" href="/">
          <img src="{{site.baseurl}}assets/images/logo.svg" height="35px" width="35px" alt="ProductGuide" />
          <span class="logo-text">Product Management ToolKit</span>
        </a>
      </div>
  </nav>



<div class="hero">
  <h3 class="hero-description">My curated collection for Product Managers. Loaded with links to articles, videos, podcasts, and more.</h3>
</div>

<div class="container">

  <div id="cards" class="flex two three-600 four-800">

    {% for section in site.data.sections %}
      <div>

        <a href="{{ site.baseurl }}{{ section.url }}" class="card {{ section.category }}">
          <div class="content">
            <div class="cover">
              <img src="http://www.tinygraphs.com/labs/isogrids/hexa/{{section.name}}?theme={% if section.category == 'Building' %}daisygarden{% elsif section.category == 'Planning' %}bythepool{% elsif section.category == 'Design' %}sugarsweets{% elsif section.category == 'Career' %}heatwave{% elsif section.category == 'Fundamentals' %}duskfalling{% endif %}&numcolors=3&size=277&fmt=svg">
            </div>

            <div class="title">
              <h3>{{ section.category }}</h3>
              <h1>{{ section.name }}</h1>
            </div>
          </div>
        </a>

      </div>

    {% endfor %}

  </div>

</div>