<div class="master-header" role="banner">
  <div class="container">
    <div class="master-header-cells">
      <div class="master-header-cell header-cell-photo">
        <a href="/" class="avatar blog-photo">
          <img src="http://31.media.tumblr.com/avatar_97e29ad19d36_128.png" width="60" height="60" alt="Loki Meyburg" />
        </a><!-- /.blog-photo -->
      </div><!-- /.master-header-cell -->
      <div class="master-header-cell header-cell-about">
        <dl class="blog">
          <dt class="blog-name">
            <a href="/" title="Home">{{ site.title }}</a>
          </dt><!-- /.blog-name -->
          <dd class="blog-description">
            Product manager at <a href="https://www.medeo.ca" target="_blank">Medeo</a>. Creator of <a href="https://www.skypay.io" target="_blank">SkyPay</a>. I'm passionate about building businesses and products that people love.
            <br>
            <strong><a href="https://twitter.com/lokimeyburg" target="_blank">Twitter</a></strong>  &#183;  <strong><a href="https://instagram.com/lokimeyburg" target="_blank">Instagram</a></strong> &#183;  <strong><a href="https://github.com/lokimeyburg" target="_blank">Github</a></strong>
          </dd><!-- /.blog-description -->
        </dl><!-- /.about -->

      </div><!-- /.master-header-cell -->
    </div><!-- /.master-header-cells -->
  </div><!-- /.container -->
</div><!-- /.master-header -->
