<script src="/public/scripts/bifrost.js"></script>

<script type="text/javascript">
  $(".nav-toggle").click(function(e){
    e.preventDefault();
    if($(".nav-items").hasClass("hide")){
      $(".nav-items").removeClass("hide");
    } else {
      $(".nav-items").addClass("hide");
    }
  });
</script>

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52626492-1', 'auto');
  ga('send', 'pageview');
</script>
